body {
    font-family: 'Roboto', sans-serif; /* Usando uma fonte moderna */
    margin: 0;
    padding: 0;
    background-color: #f0f2f5; /* Fundo claro para a página */
    color: #333; /* Cor do texto */
}

header {
    background-color: #4CAF50; /* Fundo verde para o cabeçalho */
    color: #fff; /* Texto branco no cabeçalho */
    padding: 1rem 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave */
}

nav ul {
    list-style: none; /* Remove os marcadores da lista */
    padding: 0;
    display: flex;
    justify-content: center; /* Centraliza os itens do menu */
    margin: 0;
}

nav ul li {
    margin: 0 1rem; /* Espaçamento entre os itens do menu */
}

nav ul li a {
    color: #fff; /* Links brancos no menu */
    text-decoration: none; /* Remove o sublinhado dos links */
    font-weight: bold;
    transition: color 0.3s; /* Transição suave para a cor dos links */
}

nav ul li a:hover {
    color: #ffeb3b; /* Cor amarela ao passar o mouse */
}

main {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff; /* Fundo branco para o conteúdo principal */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave */
}

h1, h2 {
    color: #4CAF50; /* Títulos em verde */
}

form {
    background-color: #fff; /* Fundo branco para o formulário */
    padding: 2rem;
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave */
    max-width: 600px;
    margin: 2rem auto;
}

form label {
    display: block;
    margin-bottom: 0.5rem;
    color: #333; /* Cor dos textos dos rótulos */
}

form input, form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc; /* Borda dos campos do formulário */
    border-radius: 4px; /* Bordas arredondadas dos campos */
}

form input[type="submit"] {
    background-color: #4CAF50; /* Fundo verde para o botão de envio */
    color: #fff; /* Texto branco no botão de envio */
    border: none;
    padding: 1rem;
    cursor: pointer;
    transition: background-color 0.3s; /* Transição suave para a cor do botão */
}

form input[type="submit"]:hover {
    background-color: #45a049; /* Cor verde escura ao passar o mouse */
}

footer {
    background-color: #333; /* Fundo escuro para o rodapé */
    color: #fff; /* Texto branco no rodapé */
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
